.btn-success {
    background-color: brown;
}

.cardtext {
    max-width: 300px;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    color: #000000;
}

.btn:hover .card {
    /* background-color: rgb(110, 173, 245); */
    background-color: #D2B48C;
    border-color: #F5DEB3;
}

.navbar {
    background-color: #8B4513;
    font-family: 'Mali', cursive;
}